<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pedulidigital">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gomovie"
        android:label="GO-MOVIE"
        android:roundIcon="@mipmap/gomovie"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeduliDigital">
        <activity android:name=".module.detail.DetailMovieActivity" />
        <activity android:name=".module.main.MainActivity">

        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>